@model Projekat.Models.AspNetOrganizacijaModels

@{
    ViewBag.Title = "kalendarNastave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />

<div align="center">

    <div style="display:inline-block">

        <div style="background-color:white;padding:15px" align="center">

            <img src="@Html.DisplayFor(modelItem => Model.Adresa)"></img>


                <!--UPLOAD-->
                @if (this.User.IsInRole("Administrator") || this.User.IsInRole("SuperAdministrator"))
                {
                    using (Html.BeginForm("uploadOrganizacijaMaterijal", "Organizacija", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <input type="hidden" name="tip" value="@ViewBag.Tip" />
                        <input type="file" name="file" accept=".jpg,.png,.svg" />

                        <input type="submit" name="Ubaci_kalendar" value="Ubaci kalendar" />


                    }
                }

                <!--DOWNLOAD-->
                @using (Html.BeginForm("downloadOrganizacijaMaterijal", "Organizacija", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="tip" value="@ViewBag.Tip" />
                    <input type="submit" name="Skin_kalendar" value="Skini kalendar" />

                }

</div>

    </div>

</div>